 body {
     box-sizing: border-box;
 }

 html, body {
     height: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Raleway', sans-serif;
     color: #444444;
 }

 #map {
     width: 50%;
     height: 80vh;
     margin: 0 20px;
 }

 #map-error{
   text-align: center;
   width: 100%;
   padding-top: 10px;
   height: inherit;
   border-width: 1px;
   border-style: dashed;
   border-color: #c2c2c2;
 }

 main {
     display: flex;
     justify-content: center;
     width: 100%;
 }

 @media only screen and (max-width: 791px) {
     main {
         justify-content: center;
         width: 96%;
         margin: auto;
     }
       #map {
         margin: 0;
           width: inherit;
       }
 }

 .info-window {
     font-size: 0.8em;
 }

 .info-window>h4 {
     margin: 0 0 2px 0;
     font-size: 1.4em;
     text-align: center;
 }

 .info-window>div {
     display: flex;
     justify-content: center;
 }

 .info-window img {
     margin-right: 5px;
 }

 .info-window p {
     margin: 0;
     width: 100px;
     text-align: justify;
 }

 input[type="text"] {
     display: block;
     padding: 0.8em;
     border: none;
     border-radius: 0;
     background: #f2f2f2;
     font-weight: 400;
     -webkit-appearance: none;
 }

 input[type="text"]:focus {
     outline: none;
 }

 #loc-list-container>input {
     width: inherit;
 }

 @media only screen and (max-width: 791px) {
     #loc-list-container>input {
         width: inherit;
     }
 }

 section {
     border: 1px solid black;
     margin: 10px;
 }

 #loc-list {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 #loc-list-container {
   display: block;
 }

 @media only screen and (max-width: 791px) {
     #loc-list-container {
         display: none;
         z-index: 1000000;
         background: #f1f1f1;
         position: absolute;
         text-align: center;
         top: 80px;
         right: 4%;
     }
 }

 #loc-list>li {
     list-style: none;
     padding: 10px;
     text-align: center;
     text-transform: capitalize;
     border-width: 1px;
     border-style: dashed;
     border-color: #c2c2c2;
     margin-bottom: -1px;
 }

 #loc-list>li:hover {
     background-color: #46bcec;
 }

 #loc-list>li:active {
     background-color: #46bcec;
 }

 h1 {
     text-align: center;
     margin: 0px;
 }

 @media only screen and (max-width: 551px) {
     h1 {
         font-size: 1.1em;
     }
 }

 @media only screen and (max-width: 362px) {
     h1 {
         font-size: 1.0em;
     }
 }
 /*The below code for hamburger and slides was inspired from https://codepen.io/g13nn/pen/eHGEF*/

 .menu-icon {
     display: none;
 }
 header {
     margin: 20px 4% 20px 4%;
     height: 40px;
 }

 @media only screen and (max-width: 791px) {
     header {
         display: flex;
         justify-content: space-between;
         margin-left: 20px;
         align-items: center;
     }

     .menu-icon {
         height: 30px;
         display: block;
         text-align: right;
     }
 }
