 body {
     box-sizing: border-box;
 }

 html, body {
     height: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Raleway', sans-serif;
     color: #444444;
 }

 #map {
     width: 50%;
     height: 80vh;
 }

 #main-content {
     display: flex;
     justify-content: center;
     width: 100%;
 }

 #loc-list-container {
     margin-top: 20px;
 }

 .spaced {
   margin: 20px;
 }

 .info-window{
   font-size: 0.8em;
 }

 input[type="text"] {
     /*position: relative;*/
     display: block;
     /*float: right;*/
     padding: 0.8em;
     width: 60%;
     border: none;
     border-radius: 0;
     background: #c2c2c2;
     color: #f2f2f2;
     font-weight: 400;
     /*font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
     -webkit-appearance: none;
 }

 input[type="text"]:focus {
     outline: none;
 }

 #loc-list-container>input {
     /*margin: 5px;*/
     /*margin-left: 15px;*/
     width: inherit;
     /*height: 30px;*/
 }

 div {
     /*border: 1px solid black;*/
 }

 section {
     border: 1px solid black;
     margin: 10px;
 }

 /*p {
     font-size: 2vw;
 }*/

 #loc-list {
     list-style: none;
     /*max-width: 20vw;*/
     padding: 10px;
     margin: 0px;
 }

 #loc-list>li {
     list-style: none;
     /*margin: 5px;*/
     padding: 10px;
     /*background-color: #ff8a6f;*/
     text-align: center;
     text-transform: capitalize;
     border-width: 1px;
     border-style: dashed;
     border-color: #c2c2c2;
     margin-bottom: -1px;
 }

 #loc-list>li:hover {
     background-color: #46bcec;
 }

 #loc-list>li:active {
     background-color: #46bcec;
 }

 h1 {
     text-align: center;
 }

 h2 {
     font-size: 4vw;
 }

 .card {
     width: 15vw;
     height: 15vw;
     margin: 10px;
     text-overflow: clip;
     overflow: scroll;
 }

 @media only screen and (max-width: 900px) {
     .card>p {
         display: none;
     }
 }

 .full-width {
     width: 100%;
 }

 .no-border {
     border: none;
 }
